---
import CoreLayout from "../../layouts/CoreLayout.astro";
import { useCasesPost } from '../../features/Post/dependencies'
import { NotionRenderer } from "@notion-render/client";
import type { Block } from "@notion-render/client/dist/types";
import { Client } from "@notionhq/client";
import hljs from '@notion-render/hljs-plugin';
const {GetPageBySlug} = useCasesPost

const { slug } = Astro.params
let page;
if (slug) {
  page = await GetPageBySlug.run(slug)
}

if (!page) {
  throw new Error('Post not found')
}
console.log(page)

const client = new Client({
  auth: import.meta.env.NOTION_TOKEN,
});

const renderer = new NotionRenderer();
renderer.use(hljs({}));

const { results } = await client.blocks.children.list({
  block_id: page.id,
});
const html = renderer.render(...results as Block[]);
// TODO: improve hightliting codes, links, etc
---

<CoreLayout title="Oscar Moreira | Projects">
  <div class="text-stone-900 text-lg leading-8 font-normal mt-20 px-10 md:px-24 text-justify">
    <!-- TODO: extract properties with mapper -->
    <h1 class="text-5xl font-bold text-center">{page.properties["title"].title[0].plain_text}</h1>
    <div class="notion-render pb-20" set:html={html}></div>
  </div>
</CoreLayout>