---
import { getCollection, getEntry } from 'astro:content';
import CoreLayout from '../layouts/CoreLayout.astro';

const blogEntries = await getCollection('blog');
---

<CoreLayout title="Oscar Moreira | Blog">
  <section class="flex flex-wrap">
    {blogEntries.map(blogPostEntry => (
      <a href=`post/${blogPostEntry.slug}`>
        <article>
          <h2>{blogPostEntry.data.title}</h2>
        </article>
      </a>
    ))}
  </section>
</CoreLayout>