---
import CardExperience from "../components/CardExperience.astro";
import CoreLayout from "../layouts/CoreLayout.astro";
import { type Experience, } from "../models/Experience";
import {experienceData} from '../data/exeperienceData';
---

<CoreLayout title="Oscar Moreira | Projects">
  <section class="flex flex-col items-center justify-center gap-10">
    {experienceData.map((experience) => <CardExperience experience={experience} />)}

  </section>

</CoreLayout>