---
import CoreLayout from "../layouts/CoreLayout.astro";
import {useCases} from '../features/Experience/dependencies'
import { type Experience } from "../features/Experience/domain/Experience";
import CardExperience from "../features/Experience/ui/CardExperience.astro";

const {GetAllExperiences} = useCases
const experiences: Experience[] = await GetAllExperiences.run()
---

<CoreLayout title="Oscar Moreira | Projects">
  <section class="flex flex-col items-center justify-center gap-10">
    {experiences.map((experience) => <CardExperience experience={experience} />)}

  </section>

</CoreLayout>