---
import CoreLayout from "../layouts/CoreLayout.astro";
import ProjectCard from '../features/Project/ui/components/ProjectCard.astro'
import {useCases} from '../features/Project/dependencies'
const {GetAllProjects} = useCases
const projects = await GetAllProjects.run()
const projectsLimited = projects.slice(0, 3)
---

<CoreLayout  title="Oscar Moreira | Home">
  <div class="flex flex-col gap-6">
    <div class="flex gap-2 font-bold text-6xl mt-20">
      <span>Hey, soy</span>
      <h1 class="text-emerald-500">Oscar Moreira 🌴</h1>
    </div>
    <p class="text-xl text-stone-800 font-normal leading-8">
        Software Engineer, enfocado en el desarrollo Frontend, aunque me encanta explorar y aprender de otras áreas.
        Me gusta estar en constante aprendizaje, desarrollar aplicando buenas prácticas y compartir conocimiento.
    </p>
    
    <h1 class="font-bold text-xl">Projects</h1>
    <div class="grid grid-cols-3">
      {
        projectsLimited.map(project => <ProjectCard project={project} />)
      }
    </div>
  </div>
</CoreLayout>
