---
import ProjectCard from "../components/ProjectCard.astro";
import Footer from '@/components/Footer.astro'
import CardPost from "../components/CardPost.astro";
import CoreLayout from "../layouts/CoreLayout.astro";
import type { Project } from "../models/Project";
import {projectsData} from '../data/projectsData'
import { getCollection } from "astro:content";
const lastProjects: Project[] = projectsData.slice(0, 3)
const blogAllEntries = await getCollection('blog');
const blogEntries = blogAllEntries.slice(0, 3) // TODO: sort by date

---

<CoreLayout  title="Oscar Moreira | Home">
  <div class="flex flex-col gap-28">
    <section class="flex flex-col gap-6">
      <div class="flex gap-2 font-bold text-5xl mt-20">
        <span>Hey, soy</span>
        <h1 class="text-emerald-500">Oscar Moreira 🌴</h1>
      </div>
      <p class="text-xl text-stone-800 font-normal leading-8">
        Software Engineer, de Tenerife, Islas Canarias 🇮🇨.
      </p>
    </section>
    
    
    <section class="flex flex-col gap-10">
      <h2 class="font-semibold text-3xl">Últimos posts</h2>
      <!-- <a href="/blog" class="font-normal text-stone-500">ver más</a> -->
      <div class="w-full h-[1px] bg-stone-300"></div>
      <div class="flex flex-wrap gap-14">
        {
          blogEntries.map(post => <CardPost post={{...post.data, slug: post.slug}} />)
        }
      </div>
    </section>


    <section class="flex flex-col items-start gap-10">
      <h2 class="font-semibold text-3xl">Últimos projectos</h2>
      <div class="w-full h-[1px] bg-stone-300"></div>
      <div class="flex w-full">
        {
          lastProjects.map(project => <ProjectCard project={project} />)
        }
      </div>
    </section>

    <Footer />
  </div>
</CoreLayout>