---
import CoreLayout from "../layouts/CoreLayout.astro";
---

<CoreLayout  title="Oscar Moreira | Home">
  <div class="flex flex-col gap-6">
    <div class="flex gap-2 font-bold text-6xl mt-20">
      <span class="text-stone-600">Hey, soy</span>
      <h1 class="text-emerald-500">Oscar Moreira 🌴</h1>
    </div>
    <p class="text-xl text-stone-600 font-normal">
        Software Engineer, enfocado en el desarrollo Frontend, aunque me encanta explorar y aprender de otras áreas.
        Me gusta estar en constante aprendizaje, desarrollar aplicando buenas prácticas y compartir conocimiento.
    </p>
  </div>
</CoreLayout>
