---
const isHome = Astro.url.pathname === '/'
const isBlog = Astro.url.pathname === '/blog'
const isProjects = Astro.url.pathname === '/projects'
const isExperience = Astro.url.pathname === '/experience'
---

<nav class="flex flex-col gap-4 md:flex-row md:justify-between md:py-5 ">
  <a href="/" class="text-4xl md:text-6xl font-extrabold ">
      OM.
  </a>
  <div class="flex md:items-center justify-between md:gap-6 text-xl font-medium">
    <a href="/" class={isHome ? "text-emerald-600" : ''}>Home</a>
    <a href="/blog" class={isBlog ? "text-emerald-600" : ''}>Blog</a>
    <a href="/projects" class={isProjects ? "text-emerald-600" : ''}>Proyectos</a>
    <a href="/experience" class={isExperience ? "text-emerald-600" : ''}>Experiencia</a>
  </div>
</nav>
