---
---

<nav class="flex justify-between py-10">
  <a href="/" class="text-6xl font-extrabold ">
      OM.
  </a>
  <div class="flex items-center gap-6 text-xl font-medium">
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/projects">Projects</a>
    <a href="/experience">Experiencia</a>
  </div>
</nav>
