---
---

<nav class="flex justify-between py-10">
  <div class="text-6xl font-extrabold text-stone-700">
      OM.
  </div>
  <div class="flex items-center gap-6 text-xl ">
    <a href="#">Home</a>
    <a href="#">Blog</a>
    <a href="#">Projects</a>
  </div>
</nav>
