---
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
import TwitterIcon from "./icons/TwitterIcon.astro";


---

<div class="flex gap-4">
  <a 
    href="https://twitter.com/oscarmoreira1" 
    target="_blank" 
    rel="noopener noreferrer" 
    aria-label="Follow me on Twitter" 
    class="text-emerald-600 hover:text-stone-900"
  >
    <TwitterIcon />
  </a>
  <a 
    href="https://github.com/omorest" 
    target="_blank" 
    rel="noopener noreferrer" 
    aria-label="Follow me on Github" 
    class="text-emerald-600 hover:text-stone-900"
  >
    <GithubIcon />
  </a>
  <a 
    href="https://www.linkedin.com/in/oscarmoreira" 
    target="_blank" 
    rel="noopener noreferrer" 
    aria-label="Follow me on Linkedin" 
    class="text-emerald-600 hover:text-stone-900"
  >
    <LinkedinIcon />
  </a>
</div>