---
import Prose from '@/components/Prose.astro';
import '../../base.css';
import Navbar from "../components/Navbar.astro";
import Footer from '@/components/Footer.astro';

const { frontmatter } = Astro.props;
---
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="flex justify-center text-stone-800">
    <main class="w-full p-5 md:w-[1000px] md:p-10">
      <Navbar />
      <article class="flex flex-col justify-center items-center gap-10 mt-10 mb-20">
        <div class="flex flex-col items-center gap-4">
          <h1 class="text-4xl font-bold">{frontmatter.title}</h1>
          <span>{frontmatter.creationDate}</span>
          <span>{frontmatter.author}</span>
        </div>
        <Prose>
          <slot />
        </Prose>
      </article>
      <div class="mt-20">
        <div class="w-full h-[1px] bg-stone-300 mb-6"></div>
        <Footer />
      </div>
    </main>
  </body>
</html>

