---
import '../../base.css';

import Navbar from "../core/Navbar.astro";
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
  </head>
  <body class="flex justify-center">
    <main class="w-[1080px]">
      <Navbar />
      <article>
        <slot /> <!-- your content is injected here -->
      </article>
    <!-- <Footer /> -->
    </main>
  </body>
</html>
