---
import Footer from '@/components/Footer.astro';
import '../../base.css';
import Navbar from '../components/Navbar.astro';

const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
  </head>
  <body class="flex justify-center text-stone-800">
    <main class="w-full p-5 md:w-[1000px] md:p-10">
      <Navbar />
      <section>
        <slot /> <!-- your content is injected here -->
      </section>
    
      <div class="mt-20">
        <div class="w-full h-[1px] bg-stone-300 mb-6"></div>
        <Footer />
      </div>
    </main>
  </body>
</html>
